.row {
  margin-left: 20px;
  color: #fff;
}

.row__posters {
  display: flex;
  /* Without this hidden the ui is scrollable vertically */
  overflow-y: hidden;
  /* This enables posters scrollable */
  overflow-x: scroll;
  padding: 20px;
}

/* Hide scrollbar  UI */
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  /* This will adjust aspect ratio of item */
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  /* transform duration */
  transition: transform 450ms;
}

.row__poster:hover {
  /* grow ui */
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  /* grow ui */
  transform: scale(1.09);
  opacity: 1;
}
